.tool {
	position: relative;
	padding: 0 112px;
}
.tools_content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
	margin-top: 64px;
	position: relative;
}

.header_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 592px;
	gap: 16px;
}

.header_content > h2 {
	margin: 0;
}
.header_content > p {
	margin: 0;
}

.tools_icon_container {
	display: grid;
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: 72px 80px;
	gap: 72px;
	justify-content: center;
}

.centered_row {
	display: grid;
	grid-template-columns: repeat(3, 80px);
	grid-template-rows: 72px;
	grid-column: span 4;
	justify-content: center;
	gap: 72px;
}

.circle_tool_background {
	position: absolute;
	top: 0;
	z-index: -1;
}

@media only screen and (max-width: 768px) {
	.tool {
		padding: 0 40px;
	}
	.tools_content {
		flex-direction: column;
		gap: 32px;
	}
	.header_content {
		align-items: center;
		text-align: center;
	}
	.circle_tool_background {
		left: 5%;
		padding: 48px 88px 96px 88px;
	}
	.circle_tool_background > img {
		width: 500px;
	}
	.header_content > h2 {
		font-size: 48px;
		line-height: 60px;
	}
	.tools_icon_container {
		gap: 24px;
	}
	.centered_row {
		gap: 24px;
	}
}

@media only screen and (max-width: 500px) {
	.tool {
		padding: 0 24px;
	}
	.circle_tool_background {
		padding: 48px 48px 96px 48px;
	}
	.circle_tool_background > img {
		width: 300px;
	}
	.header_content > h2 {
		font-size: 32px;
		line-height: 40px;
	}
	.tools_icon_container {
		gap: 16px;
	}
	.centered_row {
		gap: 16px;
	}
}
